h1{color:rgba(68, 105, 79, 0.699);}
 p{font-size: 25px;color:#669469b4;}
body{background-color:#87b19fe0;}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;}

.flex-item {
  padding: 5px;
  width: 2000px;
  height: 200px;
  background-color: #669469b4;
  text-align: center;
}